{% extends 'base.html' %}
{% block title %} Add Question {% endblock %}

{% block content %}

  <form action="{% url 'quiz:add_question' %}" method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Quiz</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for question in questions %}
    <tr>
      <td><a href="/quiz/add_options/{{question.id}}/">{{question.Question}}</a></td>
      <td>{{question.quiz}}</td>
      <td><a href="/quiz/delete_question/{{question.id}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}