{% extends 'base.html' %}

{% block content %}

<form method="post">

{% for question_number in total_questions %}

  <h1>Question : {{question_number}} {{ quiz.module.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ question_formset.management_form }}
        {% for form in question_formset %}
            {{ form.as_table }}
            <h3>Choices:</h3>
            {% for choice_form in form.choice_set.forms %}
                {{ choice_form.as_table }}
            {% endfor %}
        {% endfor %}
        <button type="submit">Save Question</button>
    </form>
{% endfor %}
{% endblock %}
