{% extends 'base.html' %}

{% block title %}
    my course
{% endblock title %}

{% block content %}
       
                <div class="row2">
                    <div class="navs">
                        <ul>
                            <li><a href="{% url 'courses:course_detail' %}">Course</a></li>
                            <li ><a href="{% url 'quiz:Assessment_detail' %}">Assessment</a></li>
                            <li><a href="#">Result</a></li>
                        </ul>
                    </div>
                </div>
                <section id="course">
                    <div class="row row3">
                        <div class="cbox">
                            <i class="fa fa-book"></i>
                            <p>Courses: {{courses_count}}</p>
                        </div>
                        <div class="cbox">
                            <i class="fa fa-file"></i>
                            <p>Modules: {{modules_count}}</p>
                        </div>
                        <div class="cbox">
                            <i class="fa fa-file-text"></i>
                            <p>Chapter: {{chapters_count}}</p>
                        </div>
                    </div>
                </section><br><br>

                <div class="content">
                    
                    <div class="course">
                        <div class="top">
                            <h2>Courses</h2>
                            <a href="{% url 'courses:new_course' %}"> <button type="submit" class="addcou">Add Course</button></a>
                        </div><br>
                        <div class="row">
                        {% if courses %}
                        {% for course in courses %}
                        
                            <div class="col-md-4">
                            <a href="{% url 'courses:course_modules' course_id=course.id %}">
                                <div class="course-card">
                                    <img class="card-img" src="{{ course.image.url }}">
                                    <h6 class="card-body">{{course.title}}</h6>
                                </div></a>
                            </div>
                            
                           {% endfor %}
                           {% else %}
                           <h5> *No Courses added*</h5>
                           {% endif %}
                            
                        </div>
                    </div>
                       
                </div>
            </div>
           
            
        
{% endblock content %}