{% extends 'base.html' %}

{% block title %}
    my course
{% endblock title %}

{% block content %}
        <div class="container-fluid">
        <div class="row">
            <div class="cmt">
                <a href="#"><button class="cmb" type="submit"><i class='fas fa-chevron-left'></i></button></a>
                {% if request.user.is_admin %}
                    <a href="{% url 'courses:new_Module'  course_id=course.id %}"><button class="cma" type="submit"><i class="material-icons">add</i>Add Module</button></a>
                {% endif %}
            </div>
        </div><br>
        <div class="row">
        {% if modules %}
            {% for module in modules %}
                <div class="cm">
                    <a href="{% url 'courses:module' pk=module.id %}">
                        <h6>Module {{module.module_no}}  :  {{module.title}}</h6>
                        <p>Total chapters : {{module.chapter_count}}</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar active" 
                                                role="progressbar" aria-valuenow="{{module.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{module.progress}}%">{{module.progress}}%
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% else %}
            <h5> *No Modules added* </h5>
            {% endif %}
        </div>
    </div>
{% endblock content %}