{% extends 'base.html' %}
{% block content %}

{% if request.user.is_admin %}
{% if request.user.is_admin %}
    <div class="admin-actions">
        <a class="btn btn-sm btn-primary" href="{% url 'courses:new_course' %}"><i class="fa-solid fa-plus"></i> Add Course</a>
    </div>
    {% endif %}
<div class="course-list">
            <h2>Course List</h2>
        
        
        <table class="table">
        
            <tr>
                <th>Title</th>
                <th>Duration</th> 
            </tr>
            {%for courses in courses %}
            <tr>
                <td><a href="{% url 'courses:course' pk=courses.id %}">{{courses.title}}</a></td>
                <td>{{courses.duration}} Months</td>
            </tr>
            {% endfor %}
        </table>
    </div>




{% endif %}


{% endblock content %}