{% extends 'base.html' %}

{% block title %}
    My Course
{% endblock title %}

{% block content %}
    {% if request.user.is_admin %}
        <div class="admin-actions-chapter">
            <a class="btn btn-sm btn-primary" href="{% url 'courses:add_chapter' module_id=module.id %}">
                <i class="fa-solid fa-plus"></i> Add Chapter
            </a>
        </div>
    {% endif %}
    
    {% for chapter in chapters %}
        <div class="chapter"> 
            <div class="container p-2 my-2 border">
                <h6>Chapter {{ chapter.chapter_no }}: {{ chapter.title }}</h6>
                <p>
                    {% if chapter.upload %}
                        <a href="{{ chapter.upload.file.url }}">Download File</a>
                    {% endif %}
                    {% if chapter.uploadvideo %}
                        <a href="{{ chapter.uploadvideo.video.url }}">Watch Video</a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
    
    <br>
    
    {% if request.user.is_student %}
        {% for quiz in quiz %}
            <div class="chapter"> 
                <a href="">
                    <div class="container p-2 my-2 border">
                        <h6>Practice Quiz: {{ quiz.title }}</h6>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
