{% extends 'base.html' %}

{% block title %}
    My Course
{% endblock title %}

{% block content %}
    {% if request.user.is_admin %}
        <div class="admin-actions-chapter">
            <a class="btn btn-sm btn-primary" href="{% url 'courses:chapter_add' pk=module.pk %}">
                <i class="fa-solid fa-plus"></i> Add Chapter
            </a>
        </div>
    {% endif %}
    
    {% if module %}
<div class="title-1">{{ module.title }}</div>
{% if module.summary %}
<p>{{ module.summary }}</p>
{% endif %}
{% endif %}

{% include 'snippets/messages.html' %}
{% include 'snippets/filter_form.html' %}

<div class="table-responsive p-0 px-2 mt-5">
    <div class="table-shadow">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Chapter Name </th>
                    {% if request.user.is_admin %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for chapter in chapter %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td><a href="{{ chapter.get_absolute_url }}">
                            {{ chapter.title }}</a></td>
                    
                    {% if request.user.is_admin %}
                    <td>
                        <div class="dropstart">
                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" 
                            data-bs-boundary="window" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v m-0"></i>
                            </button>
                            <div class="dropdown-menu position-fixed">
                                <a class="dropdown-item" href="{% url 'courses:edit_chapter' slug=chapter.slug %}">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                                <a class="dropdown-item" href="{% url 'courses:delete_chapter' slug=chapter.slug %}">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                  <td colspan="9">
                  <span class="text-danger">
                    No course for this progrm.
                    {% if request.user.is_admin %}
                    <a href="{% url 'courses:chapter_add' pk=module.pk %}">
                    <i class="primary" style="font-size: 22px;">
                       Add one now.
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if courses.paginator.page_range|length > 1 %}
<div class="content-center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in chapter.paginator.page_range %}
        {% if i == chapter.number %}
        <a class="pagination-active" href="?page={{ i }}"><b>{{ i }}</b></a>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        <a href="?page={{ chapter.paginator.num_pages }}">&raquo;</a>
    </div>
</div>
{% endif %}

{% endblock content %}