
    

{% extends 'base.html' %}
{% block content %}
    <h1>User Profile</h1>
    
    <div>
        <h2>{{ user.get_full_name }}</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        
        {% if user.picture %}
            <img src="{{ user.get_picture }}" alt="Profile Picture">
        {% else %}
            <p>No profile picture available</p>
        {% endif %}
    </div>
{% endblock content %}
